body{
    background-color: #ffffff;
}

.home{
    height: 100vh;
    background: url(../images/cool-background.png);
    background-size: cover;
}



.intro{
    color: #ffffff;
    padding: 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}

#name{
    font-size: 2cm;
    font-weight: 500;
}

.button{
    padding: 1rem 1rem;
}

.list-no-bullet{
    list-style: none;
  }
  
  .list-item-inline{
    display: inline;
    padding: 0rem 1rem;
  }

  .link{
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .list-no-bullet li a{
    margin: 1rem 0rem 0rem 0rem;
  }
  