body{
    background-color: #ffffff;
}

.home{
    height: 100vh;
    background: url(../images/cool-background.png);
    background-size: cover;
}



.intro{
    color: #ffffff;
    padding: 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}

#name{
    font-size: 2cm;
    font-weight: 500;
}